@import "tailwindcss";



:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #0167FF;
  --background: #B2D3EE;
  --foreground: #1d293d;
  --font: 'poppins', sans-serif, font-weight 700; 
  --secondary-font: 'montserrat', sans-serif;
  --font-text: 'inter', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
